{% extends "page.html.jinja2" %}
{% block main %}
    <ul>
        {% for href, title in children %}
            <li>
                <a href="{{ href }}">{{title}}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock main %}
