{% extends "page.html.jinja2" %}
{% block main %}
    <p>
        This is the website containing the Monte Carlo configuration, runcards, analysis scripts (where applicable), and results for the Strong 2020 review that followed the <a href="https://indico.psi.ch/event/13707/">5<sup>th</sup> workstop</a> at the University of Zurich.
    </p>
    <p>
        We aim for 100% reproducibility and Open Science by providing the exact configurations we have used to obtain the results. This naturally includes the definition of the observables (see below) and the runcards but also the exact versions of the code used (either using tarballs or git submodules) and even the exact Linux distro and compiler version used. Where possible, we achieve this using Containerfiles that are stored here. A snapshot of this repository will be archived on Zenodo in due time.
    </p>
    <p>
        Here you can browse data
    </p>
    <ul>
        {% for href, title, description in children %}
            <li>
                <a href="{{ href }}">{{title}}</a>: {{ description }}
            </li>
        {% endfor %}
    </ul>
    <p>
        For further information of the data and metadata, please see <a href="https://gitlab.com/strong2020/monte-carlo-results">the GitLab repository</a>.
    </p>
{% endblock main %}
