<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8">
        <title>RadioMonteCarlow Plots &mdash; {{ title }}</title>
        <link rel="icon" type="image/x-icon" href="https://gitlab.com/uploads/-/system/group/avatar/78215952/bitmap.png?width=1281">
        <style>
            html * {
                font-family: Georgia, sans-serif;
            }
            body {
                max-width: 35rem;
                margin: auto auto 2rem;
                padding: 1rem 1rem 0px;
                min-height: 100vh;
                display:flex;
                flex-direction:column;
            }
            body a{
                text-decoration: none;
                border-bottom: 1px dotted rgb(0, 75, 107);
                color: rgb(0, 75, 107);
            }
            h1,h2,h3,h4,h5,h6 {
                font-weight: normal;
                margin: 30px 0px 10px 0px;
                padding: 0px;
                text-align: left;
                height: 20px;
                vertical-align: middle;
            }

            h1 { font-size: 240%; margin-top: 0px; padding-top: 0px; }
            h2 { font-size: 180%; }

            .anchor {
                display: none;
            }
            h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, .anchor:hover {
                display: inline-block;
                margin-left: -20px;
                width: 20px;
                vertical-align: middle;
                border: none;
                font-size: 15px;
                height: 15px;
            }

            td:first-child,th:first-child {
                border-left: none;
            }
            td, th {
                border-left: solid 1px;
                padding: 4px;
            }
            th {
                border-bottom: solid 1px;
            }
            table {
                border-collapse: collapse;
            }

            header {
                min-height:50px;
            }

            #body{
                flex:1;
            }

            footer {
                font-size: 8pt;
                min-height:50px;
            }

            .cc-icon {
                height: 1em;
                margin-left: 3px;
                vertical-align:text-bottom;
            }
        </style>
        {% block head %}
        {% endblock head %}


        <script type="text/x-mathjax-config">
            MathJax.Hub.Config({
              tex2jax: {inlineMath: [['\\(','\\)']]}
            });
        </script>
        <script async src="https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js?config=TeX-AMS-MML_SVG"></script>


        <script>
            {% include "svg_mathjax2.js" %}
        </script>
    </head>
	<body>
        <header>
            <h1>{{ title }}</h1>
        </header>
        <div id="body">
            {% if description is defined %}
                <p> {{ description }} </p>
            {% endif %}
            {% block main %}
            {% endblock main %}
        </div>
        <footer>
            <p xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/">
                <a property="dct:title" rel="cc:attributionURL" href="https://radiomontecarlow2.gitlab.io/plots">All Plots</a>
                &#169; 2023&ndash;2024
                by
                <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://radiomontecarlow2.gitlab.io/">the authors</a>
                is licensed under
                <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">
                    CC BY 4.0
                    <img class="cc-icon" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg"><img class="cc-icon" src="https://mirrors.creativecommons.org/presskit/icons/by.svg">
                </a>
            </p>
        </footer>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                new Svg_MathJax().install();
            }, false);
        </script>
    </body>
</html>
