{% extends "page.html.jinja2" %}
{% block head %}
    <script type="text/javascript" src="{{ d3url }}"></script>
    <script type="text/javascript" src="{{ d3xyurl }}"></script>
    <script>
        d3.zoom = d3.xyzoom;
        d3.zoomIdentity = d3.xyzoomIdentity;
    </script>
    <script type="text/javascript" src="{{ mpld3url }}"></script>
    <script>
mpld3_Axes.prototype.doZoom = function(propagate, transform, duration, onTransitionEnd) {
  if (!this.props.zoomable || !this.zoom) {
    return;
  }
  if (duration) {
    var transition = this.axes.transition().duration(duration).call(this.zoom.transform, transform);
    if (onTransitionEnd) {
      transition.on("end", onTransitionEnd);
    }
  } else {
    this.axes.call(this.zoom.transform, transform);
  }
  if (propagate) {
    this.lastTransform = transform;
    this.sharex.forEach(function(sharedAxes) {
      t = d3.xyzoomIdentity.translate(transform.x, 0).scale(transform.kx, 1);
      sharedAxes.doZoom(false, t, duration);
    });
    this.sharey.forEach(function(sharedAxes) {
      sharedAxes.doZoom(false, transform, duration);
    });
  } else {
    this.lastTransform = transform;
  }
};
mpld3_Axes.prototype.doBoxzoom = function(selection) {
  if (!selection || !this.brushG) {
    return;
  }
  var sel = selection.map(this.lastTransform.invert, this.lastTransform);
  var dx = sel[1][0] - sel[0][0];
  var dy = sel[1][1] - sel[0][1];
  var cx = (sel[0][0] + sel[1][0]) / 2;
  var cy = (sel[0][1] + sel[1][1]) / 2;
  var sx = this.width / dx;
  var sy = this.height / dy;
  var transX = this.width / 2 - sx * cx;
  var transY = this.height / 2 - sy * cy;
  var transform = d3.xyzoomIdentity.translate(transX, transY).scale(sx,sy);
  this.doZoom(true, transform, 750);
  this.resetBrush();
};
    </script>
    <style>
        {{ plugin_css }}
    </style>
{% endblock head %}
<style>.mpld3-figure { width: 700px; }</style>
{% block main %}
    {% for n, subsection in enumerate(sections) %}
        <h2>{{ subsection }}</h2>
        <div id="fig_el{{n}}"></div>
    {% endfor %}
    <script>
        !function(mpld3){
            {{ plugin_js }}
            {% for n, plot in enumerate(plots) %}
                mpld3.draw_figure("fig_el{{ n }}", {{ plot }});
            {% endfor %}
        }(mpld3);
    </script>
{% endblock main %}
